In [20]:
import pandas as pd
import numpy as np

student = pd.read_csv('E:\Lab\Instantutor-Research\Datasets\Data.csv',error_bad_lines=False)
rating = pd.read_csv('E:\Lab\Instantutor-Research\Datasets\Rating.csv',error_bad_lines=False)
student.head(3)
rating.head(3)

    Mentor  Mentee  Rating  Comments  Time stamp
0   366449     NaN     1.0       NaN  1425941529
1  1677677     NaN     4.5       NaN  1425942435
2   553755     NaN     5.0       NaN  1425941523

3.6442860715178793

In [23]:
rating.describe()

             Mentor  Mentee       Rating  Comments    Time stamp
count  3.999000e+03     0.0  3999.000000       0.0  3.999000e+03
mean   7.201465e+05     NaN     3.644286       NaN  1.188795e+09
std    5.623939e+05     NaN     0.999781       NaN  2.106722e+08
min    2.562900e+04     NaN     0.500000       NaN  8.347537e+08
25%    5.088070e+05     NaN     3.000000       NaN  9.799716e+08
50%    5.921580e+05     NaN     4.000000       NaN  1.179200e+09
75%    6.470485e+05     NaN     4.500000       NaN  1.392410e+09
max    2.710343e+06     NaN     5.000000       NaN  1.498765e+09

4.5

In [32]:
rating_agg = rating.groupby('Mentor').Rating.agg(['count','mean']).reset_index()
#Rename columns
rating_agg.rename(columns={'count':'COUNT','mean':'AVG_RATING'})

print(rating_agg.head(5))

   Mentor  count  mean
0   25629      1  3.50
1   26192      2  3.75
2   28061      1  4.00
3   28787      1  2.00
4   29639      1  2.00

In [34]:
m = rating_agg['count'].quantile(0.75)
print(m)

1.0

In [35]:
C = rating['Rating'].mean()
print(C)

3.6442860715178793

In [37]:
def weighted_rating(x, m=m, C=C):
    v = x['count']
    R = x['mean']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [38]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
rating_agg['score'] = rating_agg.apply(weighted_rating, axis=1)

In [40]:
rating_agg = rating_agg.sort_values('score', ascending=False)

In [41]:
rating_agg[['Mentor', 'count', 'mean', 'score']].head(20)

       Mentor  count      mean     score
2891   675728      3  5.000000  4.661072
1116   540513      2  5.000000  4.548095
751    483997      2  5.000000  4.548095
3572  2635505      2  5.000000  4.548095
76     117544      2  5.000000  4.548095
3596  2684107      2  5.000000  4.548095
812    493879      2  5.000000  4.548095
2687   646539      2  5.000000  4.548095
394    349359      2  5.000000  4.548095
2021   603791      4  4.625000  4.428857
3519  2554973      3  4.666667  4.411072
956    517416      2  4.750000  4.381429
2839   656009      2  4.750000  4.381429
3190   698205      2  4.750000  4.381429
3119   693111      2  4.750000  4.381429
2726   648966      2  4.750000  4.381429
3234  1532840      2  4.750000  4.381429
2556   634193      2  4.750000  4.381429
1923   598235      2  4.750000  4.381429
2058   605905      2  4.750000  4.381429